<h1>Here is your selected Owner: <%= @owner.name %></h1>


<p>
    Name:
    <%= @owner.name %>
</p>

<p>
    Age:
    <%= @owner.age %>
</p>

<p>
    Email Address:
    <%= @owner.email_address %>
</p>

<p>
    Phone Number:
    <%= @owner.phone_number %>
</p>


<%=link_to 'Back', owners_path, :class => "btn" %>




